/* style.css */
:root {
  --black: hsl(0, 0, 10%);
  --white: hsl(0, 0%, 98%);
}
* {
  font-family: Helvetica, sans-serif;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: inherit;
  color: var(--black);
  background-color: var(--white);
}
