/* style.css */
:root {
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;
}
* {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: inherit;
  color: var(--gray-950);
  background-color: var(--gray-50);
}
.container {
  width: 83.333333%;
  margin: 0rem auto;
}
header {
  padding: 1.5rem 1rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.top-navigation-parent {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.top-navigation-child-2 {
  display: flex;
  align-content: center;
  gap: 1rem;
}
.top-navigation-child-2 a {
  text-decoration: none;
  color: var(--gray-800);
}
.top-navigation-child-2 a:hover {
  text-decoration: underline;
  color: var(--gray-700);
}
.top-navigation-child-2 a:focus {
  color: blueviolet;
}
main {
  padding: 1.5rem 1rem;
  min-height: 100dvh;
}
/* Dropdown Button */
.dropbtn {
  background-color: var(--gray-800);
  color: var(--gray-50);
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border: transparent;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--gray-100);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: var(--gray-950);
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--gray-300);
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--gray-800);
}
footer {
  color: var(--gray-50);
  background-color: var(--gray-900);
  padding: 1.5rem 1rem;
}
